* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
}

h1 {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 51px;
}
